on:
  workflow_call:
    inputs:
      app_type:
        required: true
        type: string
jobs:
  nginx:
    runs-on: self-hosted # Specifies the runner environment 
    if : ${{ inputs.app_type == 'nginx'}}    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Checks out the repository code

      - name: Docker build
        run: |
          docker build .

# python and node js does not require any build as  they are interpreter languages
  python:
    runs-on: self-hosted # Specifies the runner environment    
    if : ${{ inputs.app_type == 'python'}} 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Checks out the repository code

      - name: build python
        run: echo building python
  nodejs:
    runs-on: self-hosted # Specifies the runner environment    
    if : ${{ inputs.app_type == 'nodejs'}} 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Checks out the repository code

      - name: build nodejs
        run: echo building nodejs
  go:
    runs-on: self-hosted # Specifies the runner environment    
    if : ${{ inputs.app_type == 'go'}} 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Checks out the repository code

      - name: build go
        run: go build

