on:
  workflow_call:
    inputs:
      app_type:
        required: true
        type: string
jobs:
  docker-build-push:
    runs-on: self-hosted # Specifies the runner environment     
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Checks out the repository code

      - name: download dependencies
        run: |
          if [ '${{ inputs.app_type }}' == 'java'] ; then
            mvn package
          fi
          if [ '${{ inputs.app_type }}' == 'go'] ; then
            go build
          fi
      - name: Docker build
        run: |
          docker build .
