on:
  workflow_call:
    inputs:
      app_type:
        required: true
        type: string
jobs:
  nginx:
    runs-on: self-hosted # Specifies the runner environment    
    if : ${{ inputs.app_type == 'nginx' }} 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Checks out the repository code

      - name: Test nginx
        run: |
          echo nginx test 
  java:
    runs-on: self-hosted # Specifies the runner environment    
    if : ${{ inputs.app_type == 'java' }} 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Checks out the repository code

      - name: Test java
        run: |
          echo mvn test 

  nodejs:
    runs-on: self-hosted # Specifies the runner environment    
    if : ${{ inputs.app_type == 'nodejs' }} 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Checks out the repository code

      - name: tests nodejs
        run: echo npm test

  python:
    runs-on: self-hosted # Specifies the runner environment    
    if : ${{ inputs.app_type == 'python' }} 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Checks out the repository code

      - name: test python
        run: echo python -m unittest test-cases.py

  go:
    runs-on: self-hosted
    if : ${{ inputs.app_type == 'go' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Checks out the repository code

      - name: Test java
        run: echo go test